@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* VARIABLES
============================================= */
:root {

  /* light theme colors */
  --main-bg-light: hsl(0, 0%, 100%);
  --top-bg-light: hsl(225, 100%, 98%);
  --card-bg-light: hsl(227, 47%, 96%);
  --main-text-light: hsl(228, 12%, 44%);
  --sub-text-light: hsl(230, 17%, 14%);
  --theme-toggle-light: hsl(230, 22%, 74%);

  /*dark theme colors*/
  --main-bg-dark: hsl(230, 17%, 14%);
  --top-bg-dark: hsl(232, 19%, 15%);
  --card-bg-dark: hsl(228, 28%, 20%);
  --main-text-dark: hsl(228, 34%, 66%);
  --sub-text-dark: hsl(0, 0%, 100%); 
  --theme-toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    
}

/* GENERAL
============================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
} 

html, body { 
  height: 100%;
}

body {
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: var( --main-bg-light);  
  color: var(--main-text-light);
}

